@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
       url("../fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

body {
  padding: 0;

  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

img {
  max-width: 100%
}

a {
  text-decoration: none
}

.btn {
  display: block;

  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 4px;
  color: #000000;
  font-weight: 800;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: rgba(0, 0, 0, 0.6);
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/* ======= Хедер страницы ======= */

.page-header {
  position: relative;

  width: 1040px;
  margin: auto;
  margin-top: 40px;
  padding-bottom: 50px;
  padding-left: 60px;
  padding-right: 60px;

  background-color: #f7e296;
  border-top: 1px solid transparent;
}

.main-page .page-header {
  min-height: 250px;
}

.catalog-page .page-header {
  min-height: 128px;
}

.header-logo {
  display: block;
  width: 163px;
  height: 35px;
  margin-top: -19px;
  margin-bottom: 16px;
}

.header-logo[href]:hover {
  opacity: 0.6;
}

.header-logo[href]:active {
  opacity: 0.3;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-nav a {
  color: #000000;
}

.main-nav a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-nav a:hover::before {
  opacity: 0.6;
}

.main-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav a:active::before {
  opacity: 0.3;
}


.main-nav ul {
  list-style: none;
}

.search-form {
  width: 440px;
  height: 50px;
}

.search-form label {
  display: none; /* to-do: удалить после замены на visually-hidden */
}

.search-form input {
  width: 310px;
  height: 50px;
  margin-right: -4px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 40px;
  padding-right: 0;


  color: rgba(0, 0, 0, 0.3);

  background-color: transparent;
  background-image: url("../img/icon-search.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 4px 16px;
  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.search-form input::placeholder {
  color: inherit;
}

.search-form input:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:focus {
  color: rgba(0, 0, 0, 1);
  border-bottom: 2px solid #000000;
}

.search-form button {
  display: none;
  width: 86px;
  padding: 0;

  font-weight: 300;
  line-height: 46px;

  background-color: transparent;
  border: 2px solid #000000;

  cursor: pointer;
}

/* Тройной селктор временный - до подключения JS. To-do: заменить на снятие/назначение .visually-hidden */

.search-form input:focus + button {
  display: inline;
}

.search-form button:hover {
  color: #ffffff;

  background-color: #000000;
}

.search-form button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-user-block {
  display: flex;
  justify-content: space-between;

  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-user-block li {
  margin-right: 40px;
}

.header-user-block li:last-child {
  margin-right: 0;
}

.header-user-block li:first-child {
  flex-grow: 1;
}

.header-user-block a {
  position: relative;

  padding-left: 26px;
}

.header-user-block .login-btn::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 0;

  width: 13px;
  height: 12px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
}

.header-user-block .compare-btn::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 6px;

  width: 10px;
  height: 10px;

  background-image: url("../img/icon-compare.svg");
  background-repeat: no-repeat;
}

.header-user-block .cart-btn::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 2px;

  width: 12px;
  height: 12px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
}

.main-nav-bot {
  position: relative;

  display: flex;
  justify-content: flex-end;

  width: 100%;
  margin-top: 29px;
  margin-bottom: 0;
  padding: 0;

  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.main-nav-bot li:first-child {
  margin-right: auto;
}

.main-nav-bot li:nth-child(2) {
  margin-right: 34px;
}

.main-nav-bot li:nth-child(3) {
  margin-right: 105px;
}

/* Тройной селктор временный - до подключения JS. To-do: заменить на снятие/назначение .visually-hidden */

.main-nav-bot li:first-child:hover .categories-list {
  display: flex;
}

.categories-list {
  position: absolute;
  top: 100%;
  left: -60px;

  display: none;
  justify-content: flex-start;

  width: 1040px;
  padding-top: 29px;
  padding-bottom: 28px;
  padding-left: 60px;
  padding-right: 60px;

  background-color: #f7e296;
}

.categories-list ul {
  padding: 0;
}

.categories-list li:first-child {
  width: 200px;
}

.categories-list li:nth-child(2),
.categories-list li:nth-child(3) {
  width: 160px;
}

.categories-list li:first-child,
.categories-list li:nth-child(2),
.categories-list li:nth-child(3) {
  margin-right: 40px;
}

.categories-list a {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  text-transform: none;
  letter-spacing: normal;
}

/* ======= Основное содержимое главной страницы ======= */

.main-page .page-title {
  display: none; /* to-do: удалить после замены на visually-hidden */
}

.index-sections-wraper {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: auto;
}

.about {
  width: 460px;
}

.contacts {
  width: 560px;
}

.section-title {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 35px;
  line-height: 1;
  font-weight: 800;
  color: #000000;
}

.main-content ul {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 2.5;
  font-weight: 800;
  color: #000000;
}

/* ======= Основное содержимое страницы каталога ======= */

.page-title-wraper {
  width: 1160px;
  margin: auto;
}

.catalog-page .page-title {
  padding-left: 59px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 47px;
  font-weight: 800;
}

.breadcrumbs {
  display: flex;

  padding-left: 59px;
}

.breadcrumbs li {
  margin-right: 14px;
  padding-left: 25px;

  list-style: none;
}

.breadcrumbs li:first-child {
  padding-left: 0;
}

.breadcrumbs a {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-sections-wraper {
  display: flex;
  justify-content: center;
}

.filter {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.filter-title-wraper {
  display: flex;
  justify-content: flex-end;
  padding-left: 59px;
  padding-right: 67px;

  background-color: #d9d9d9;
}

.filter-title {
  width: 200px;
  margin: 0;
  padding-top: 23px;
  padding-bottom: 23px;

  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.filter-form-wraper {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;

  padding-left: 59px;
  padding-right: 67px;

  background-color: #ebebeb
}

.filter-form {
  width: 200px;
}

.catalog {
  flex-grow: 1;

  width: 830px;
  padding-bottom: 90px;
}

.catalog ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 760px;
  margin: 0;
  padding-top: 70px;
  padding-left: 73px;

  list-style: none;
}

.catalog-item {
  width: 360px;
  margin-top: 50px;
}

.catalog-item:nth-child(1),
.catalog-item:nth-child(2) {
  margin-top: 0;
}

.catalog-item a {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  color: #000000;
}

.catalog-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item p {
  font-size: 16px;
}

.catalog-item .compare-btn {
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.catalog-item .compare-btn:hover {
  color: #000000;
}

.catalog-item .compare-btn:active {
  color: rgba(0, 0, 0, 0.2);
}

/* ======= Футер страницы ======= */

.page-footer {
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #464646;
}

.page-footer-wraper {
  width: 1160px;
  margin: auto;
}

.footer-top-container {
  display: flex;
  justify-content: space-between;
}

.footer-mid-container {
  display: flex;
  justify-content: space-between;
}

.footer-bot-container {
  display: flex;
  justify-content: center;
}

.footer-logo svg{
  fill: #ffc600;
}

.footer-logo[href]:hover {
  opacity: 0.6;
}

.footer-logo[href]:active {
  opacity: 0.3;
}

.footer-user-block {
  display: flex;

  list-style: none;
}

.footer-user-block li {
  margin-right: 65px;
}

.footer-user-block li:last-child {
  margin-right: 0;
}

.footer-user-block a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 2.4;
}

.footer-user-block a:hover {
  color: #ffffff;
}

.footer-user-block a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-nav {
  display: flex;

  list-style: none;
}

.footer-nav li {
  margin-right: 38px;
}

.footer-nav li:last-child {
  margin-right: 0;
}

.footer-nav a {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 4px;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-nav a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.footer-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer p {
  color: #ffffff;
}

.social {
  display: flex;

  margin: 0;
  padding: 0;
}

.social li {
  margin-right: 22px;
}

.social li:last-child {
  margin-right: 0;
}

.social a {
  color: #ffffff;
  opacity: 0.3;
}

.social a:hover {
  opacity: 0.6;
}

.social a:active {
  opacity: 0.1;
}

.copyright {
  color: #ffc600;
}

.copyright:hover {
  opacity: 0.6;
}

.copyright:active {
  opacity: 0.3;
}
