@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
       url("../fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

body {
  padding: 0;

  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

img {
  max-width: 100%
}

a {
  text-decoration: none
}

.btn {
  display: block;

  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 4px;
  color: black;
  font-weight: 800;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
}

.btn:hover {
  color: rgba(0, 0, 0, 0.6);
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/* ======= Хедер страницы ======= */

.page-header {
  background-color: #f0c52e;
}

.header-logo[href]:hover {
  opacity: 0.6;
}

.header-logo[href]:active {
  opacity: 0.3;
}

.main-nav a {
  color: black;
}

.main-nav a:hover {
  opacity: 0.6;
}

.main-nav a:active {
  opacity: 0.3;
}

.main-nav ul {
  list-style: none;
}

.search-form label {
  display: none; /* to-do: удалить после замены на visually-hidden */
}

.search-form input {
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.search-form input::placeholder {
  color: inherit;
}

.search-form input:hover {
  opacity: 0.6;
}

.search-form input:focus {
  opacity: 1;
}

.search-form button {
  background-color: transparent;
  border: 2px solid black;
}

.search-form button:hover {
  color: white;

  background-color: black;
}

.search-form button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-nav ul:last-child {
  font-family: "Gilroy", Arial;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.categories-list a {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: black;
  text-transform: none;
  letter-spacing: normal;
}

/* ======= Основное содержимое главной страницы ======= */

.main-page .page-title {
  display: none; /* to-do: удалить после замены на visually-hidden */
}

.section-title {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 35px;
  line-height: 1;
  font-weight: 800;
  color: black;
}

.main-content ul {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 2.5;
  font-weight: 800;
  color: black;
}

/* ======= Футер страницы ======= */

.page-footer {
  background-color: #464646;
}

.footer-logo svg{
  fill: #ffc600;
}

.footer-logo[href]:hover {
  opacity: 0.6;
}

.footer-logo[href]:active {
  opacity: 0.3;
}

.footer-user-block {
  list-style: none;
}

.footer-user-block a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 2.4;
}

.footer-user-block a:hover {
  color: white;
}

.footer-user-block a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-nav {
  list-style: none;
}

.footer-nav a {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 4px;
  color: white;
}

.footer-nav a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.footer-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer p {
  color: white;
}

.social a {
  color: white;
  opacity: 0.3;
}

.social a:hover {
  opacity: 0.6;
}

.social a:active {
  opacity: 0.1;
}

.copyright {
  color: #ffc600;
}

.copyright:hover {
  opacity: 0.6;
}

.copyright:active {
  opacity: 0.3;
}
