@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
       url("../fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

body {
  padding: 0;

  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

img {
  max-width: 100%
}

a {
  text-decoration: none
}

.btn {
  display: block;

  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 4px;
  color: #000000;
  font-weight: 800;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: rgba(0, 0, 0, 0.6);
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.submit-btn {
  cursor: pointer;
}

/* ======= Хедер страницы ======= */

.page-header {
  position: relative;

  width: 1160px;
  min-height: 300px;
  margin: auto;
  margin-top: 40px;

  background-color: #f7e296;
  border-top: 1px solid transparent;
}

.header-logo {
  display: block;
  width: 163px;
  height: 35px;
  margin-top: -19px;
  margin-bottom: 43px;
  margin-left: 60px;
}

.header-logo[href]:hover {
  opacity: 0.6;
}

.header-logo[href]:active {
  opacity: 0.3;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-nav a {
  color: #000000;
}

.main-nav a:hover {
  opacity: 0.6;
}

.main-nav a:active {
  opacity: 0.3;
}

.main-nav ul {
  padding: 0;

  list-style: none;
}

.search-form {
  width: 440px;
}

.search-form label {
  display: none; /* to-do: удалить после замены на visually-hidden */
}

.search-form input {
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.search-form input::placeholder {
  color: inherit;
}

.search-form input:hover {
  opacity: 0.6;
}

.search-form input:focus {
  opacity: 1;
}

.search-form button {
  background-color: transparent;
  border: 2px solid #000000;
}

.search-form button:hover {
  color: #ffffff;

  background-color: #000000;
}

.search-form button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-user-block {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.main-nav > ul:last-child {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 100%;

  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.categories-list {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 1160px;

  background-color: #f0c52e;
}

.categories-list a {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  text-transform: none;
  letter-spacing: normal;
}

/* ======= Основное содержимое главной страницы ======= */

.main-page .page-title {
  display: none; /* to-do: удалить после замены на visually-hidden */
}

.main-content {
  padding-bottom: 90px;
}

.index-sections-wraper {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: auto;
}

.about {
  width: 460px;
}

.contacts {
  width: 560px;
}

.section-title {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 35px;
  line-height: 1;
  font-weight: 800;
  color: #000000;
}

.main-content ul {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 2.5;
  font-weight: 800;
  color: #000000;
}

/* ======= Основное содержимое страницы каталога ======= */

.page-title-wraper {
  width: 1160px;
  margin: auto;
}

.catalog-page .page-title {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 47px;
  font-weight: 800;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs li {
  list-style: none;
}

.breadcrumbs a {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-sections-wraper {
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(235,235,235,1) 0%, rgba(235,235,235,1) 37%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 100%);
}

.filter {
  width: 200px;
  padding-left: 60px;
  padding-right: 70px;
}

.catalog {
  width: 830px;

  background-color: #ffffff;
}

.catalog ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding-top: 70px;
  padding-left: 75px;

  list-style: none;
}

.catalog-item {
  width: 360px;
  margin-top: 50px;
}

.catalog-item:nth-child(1),
.catalog-item:nth-child(2) {
  margin-top: 0;
}

.catalog-item a {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  color: #000000;
}

.catalog-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item p {
  font-size: 16px;
}

.compare-btn {
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.compare-btn:hover {
  color: #000000;
}

.compare-btn:active {
  color: rgba(0, 0, 0, 0.2);
}

/* ======= Футер страницы ======= */

.page-footer {
  background-color: #464646;
}

.page-footer-wraper {
  width: 1160px;
  margin: auto;
}

.footer-top-container {
  display: flex;
  justify-content: space-between;
}

.footer-mid-container {
  display: flex;
  justify-content: space-between;
}

.footer-bot-container {
  display: flex;
  justify-content: center;
}

.footer-logo svg{
  fill: #ffc600;
}

.footer-logo[href]:hover {
  opacity: 0.6;
}

.footer-logo[href]:active {
  opacity: 0.3;
}

.footer-user-block {
  display: flex;

  list-style: none;
}

.footer-user-block a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 2.4;
}

.footer-user-block a:hover {
  color: #ffffff;
}

.footer-user-block a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-nav {
  display: flex;

  list-style: none;
}

.footer-nav a {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 4px;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-nav a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.footer-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer p {
  color: #ffffff;
}

.social {
  display: flex;

  margin: 0;
  padding: 0;
}

.social a {
  color: #ffffff;
  opacity: 0.3;
}

.social a:hover {
  opacity: 0.6;
}

.social a:active {
  opacity: 0.1;
}

.copyright {
  color: #ffc600;
}

.copyright:hover {
  opacity: 0.6;
}

.copyright:active {
  opacity: 0.3;
}
